.About-section {
    padding: 100px;
}
.About__content {
    display: flex;
    justify-content: space-between;
    gap: 25px;  
}
.About__wrapper {
    width: 542px;
}
.About__wrapper >h2{
    padding-top: 37px;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
}
.About__wrapper > h2 >strong{
    color: $orange-color;
}
.About__wrapper > p{
    padding-top: 16px;
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $black-color;
}
.About__content-wrapper {
    flex-direction: column-reverse;
    display: flex;
}
.About__content-wrappers >h2{
    padding-top: 50px;
}
.About__content-wrappers >p{
    padding-top: 16px;
    padding-bottom: 137px;
    color: $black-color;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $black-color;
}
.About__wrapper-color{
    color: $orange-color;
}